.NavBar {
    background-color: #58a4b0;
    border: 1px solid #392f5a;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.NavLink {
    text-decoration: none;
    padding: 5px;
}

.Active i {
    color: #daa49a;
}

.NavLink:hover {
    background-color: #d8dbe2;
    transition: background-color 0.3s ease;
    border-radius: 8px;
}


.test:hover {
    color: red;
}