.TaskSpan {
  margin: 0.5rem 2rem 0;
}

/* Style class used for Task, Collection and Profile containers */
.TaskCard {
  background-color: #a9bcd0;
  border-radius: 8px;
  border: 2px solid #392f5a;
  overflow: hidden
}

.TaskCard:hover {
  border: none;
  transition: all 1s ease-in-out;
}

.NotesContainer {
  overflow-wrap: break-word;
}
